server:
  port: 8888

spring:
  application:
    name: config-server
  
  cloud:
    config:
      server:
        git:
          # ¡URL CORRECTA!
          uri: https://github.com/FranRodriguezAccenture/LucaTicket-Microservices
          default-label: main
          clone-on-start: true
          force-pull: true
          
          # IMPORTANTE: Si los archivos están en raíz, no uses search-paths
          # Si están en carpeta 'config', descomenta:
          # search-paths: config

# Logging para debug
logging:
  level:
    org.springframework.cloud.config: INFO
    org.springframework.cloud.config.server: DEBUG